:root {
    --primary-color: #000000;
    --secondary-color: #ffffff;
    --main-color: #c90206;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--primary-color);
}

h1,h2,h3,h4 {
    line-height: 1.3;
}

img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    text-transform: uppercase;
}

button {
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.btn {
    color: #fff;
    font-size: 1rem;
    border: 1px solid #ea2127;
    border-radius: 2em;
    padding: 10px 22px;
    line-height: 12px;
    text-align: center;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    opacity: 0.8;
}

.contained {
    width: 90%;
    margin: 2rem auto;
}

/* nav-bar */

.container-nav {
    display: flex;
    align-items: center;
    padding: 0.6rem 0;
}

.icon__nav-bar {
    display: inline-block;
    margin: 0.5rem;
}

.icon__nav-bar i {
    color: #fff;
}

.close-icon__nav-bar {
    z-index: 1;
    position: absolute;
    top: 1rem;
    right: 2rem;
    color: #fff;
}

.logo {
    width: 100px;
    height: 45px;
    margin-left: 1rem;
}

.logo img {
    width: 100%;
}

.nav-links {
    display: none;
}

.show {
    display: none;
}

.nav-links-responsive {
    position: absolute;
    top: 0;
    left: 0;
    width: 80vw;
    height: 100vh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.nav-links-responsive ul li{
    font-size: 1rem;
    font-weight: 700;
    padding: 0.875rem 1.25rem;
}

/* section-a */

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.responsive {
    width: 100%;
    height: auto;
}

.hero img {
    display: none;
}

/* section-b */

.container-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#fff 80%, #000 30%);
}

.container-b .title-b {
    padding: 2rem 1rem 0 1rem;
}

.container-b .title-b h1 {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 700;
}

.images__wrapper-b {
    display: grid;
    grid-row-gap: 1rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: 
                        "l-btn img r-btn"
                        ". btn .";
}

.images__wrapper-b button {
    color: var(--main-color);
    height: 30%;
}

.images__wrapper-b button:first-of-type {
    grid-area: l-btn;
    align-self: center;
    margin-left: 1rem;
}

.images__wrapper-b img {
    grid-area: img;
    justify-self: center;
    width: 80%;
}

.images__wrapper-b button:last-of-type {
    grid-area: r-btn;
    align-self: center;
    margin-right: 1rem;
}

.images__wrapper-b a {
    grid-area: btn;
    justify-self: center;
    align-self: center;
}

.divider {
    display: none;
}

/* section-c */

.container-c {
    margin-top: 8rem;
    background: var(--main-color);
}

.image__wrapper-c img {
    width: 100%;
    height: 100%;
    animation: sli;
    
}

.text__wrapper-c {
    background: var(--main-color);
    color: var(--secondary-color);
    padding: 0.9rem;
}

.title-c h3 {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
    text-align: center;
}

.description__title-c h4 {
    font-size: 22px;
    word-wrap: break-word;
    margin-bottom: 0.4rem;
}

/* section-d */

.container-d {
    padding: 0 0.95rem;
}

.title-d {
    margin-bottom: 1.3rem;
}

.title-d h1 {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 2.2rem;
}

.products__wrapper-d {
    display: flex;
    justify-content: space-around;
}

.products__wrapper-d a img {
    width: 430px;
}

/* section-e */

.container-e {
    padding: 1.9rem 0;
    background: #ffffff38;
    margin-bottom: 2rem;
}

.context-e {
    margin: 1rem 0;
    padding: 0 1.25rem;
}

.title-e h1{
    font-weight: bold;
    font-size: 2rem;
}

.title-e h1 a {
    color: #ea2127;
}

.description-e {
    color: var(--secondary-color);
    padding: 0.8rem 0;
}

.image__wrapper-e {
    animation: zoomIn 1s;
}

.divider-e {
    display: none;
}

/* section-f */

.title-f {
    color: var(--secondary-color);
    padding-top: 2rem;
    margin-bottom: 0.8rem;
}


.title-f h2 {
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
}


/* footer */

.container-footer .links {
    display: none;
}


.signup-form {
    padding: 0 1.5rem;
}

.signup-form h3 {
    color: var(--secondary-color);
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 0.8rem;
}

.signup-form form {
    white-space: nowrap;
    max-width: 100%;
}

.signup-form form input {
    width: 80%;
    background: transparent;
    border: none;
    color: #fff;
    padding: 0.8rem 0.8rem 0.8rem 0;
    font-size: 12px;
    font-weight: normal;
}

.signup-form form input:focus {
    outline: none;
}

#email {
    border-bottom: 1.3px solid #fff;
}

.signup-form .btn {
    margin: 1.5rem 1.5rem 1.5rem 0;
    background-color: var(--primary-color);
    text-transform: uppercase;
}

.signup-form .btn:hover {
    opacity: 0.8;
}

.copyright-block {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.copyright-block .logo {
    width: 60px;
    margin: 0;
    text-align: center;
}

.copyright-block .logo img {
    width: 100%;
    height: 100%;
}


.copyright-text {
    margin: 0.8rem;
    color: var(--secondary-color);
    font-weight: 700;
}


/* media-query */

@media (min-width: 480px) {
    .icon__nav-bar {
        display: none;
    }
  
    .nav-links-responsive {
        display: none;
    }

    .nav-links {
        display: block;
        width: 70%;
        margin: 0 auto;
    }

    .nav-links ul {
        display: flex;
        justify-content: center;
        align-items: center;
    } 

    .nav-links ul li {
        border-left: 3px solid var(--main-color);
        padding: 0 1rem;
    }

    .nav-links ul li:first-of-type {
        border: none;
    }

    .nav-links ul li a:hover {
        opacity: 0.8;
        border-bottom: 2px solid var(--main-color);
        padding-bottom: 0.5rem;
    }

    .hero-responsive img {
        display: none;
    }

    .hero img {
        display: block;
    }

    .container-b .title-b {
        width: 70%;
    }

    .images__wrapper-b {
        width: 70%;
    }

    .title-f {
        padding-top: 4rem;
    }

    .title-f h2 {
        font-size: 4rem;
    }

    .images__wrapper-f {
        display: flex;
        justify-content: space-around;
    }
    
    .images__wrapper-f article {
        width: 200px;
    }

    .images__wrapper-f article img {
        width: 90%;
    }

    .footer {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 1.5rem;
    }

    
    .container-footer .links {
        display: block;
    }
    
    .various-links {
        column-count: 2;
    }
    
    .various-links ul li {
        width: 100%;
        text-align: left;
        margin-bottom: 1rem;
        padding: 0.625rem;
        display: inline-block;
    } 
    
    .various-links ul li a {
        font-size: 1rem;
        font-weight: 700;
    }
    
    .various-links ul li a:hover,
    .social-links ul li a:hover {
        opacity: 0.8;
        text-decoration: underline;
    }
    
    .social-links {
        width: 100%;
        margin: 0.8rem 0;
    }
    
    .social-links ul {
        width: 40%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
    }
    

}

@media (min-width: 764px) {
    .container-b {
        flex-direction: row;
        align-items: flex-start;
    }

    .container-b .title-b {
        width: 40%;
    }

    .container-b .title-b h1 {
        font-size: 1.8rem;
    }

    .images__wrapper-b {
        width: 40%;
        padding: 2rem 2rem 0 0;
    }

    .divider {
        display: block;
        position: relative;
    }

    .divider img {
        position: absolute;
        right: 0;
    }

    .title-d h1 {
        font-size: 3.2rem;
    }

    .container-e {
        display: grid;
        grid-row-gap: 1rem;
        grid-template-columns: 570px auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
                            "title-e img-e"
                            "desc-e img-e";
    }
    
    .title-e {
        grid-area: title-e;
    }
    
    .title-e h1{
        font-size: 4.1rem;
        margin: 1rem 0;
        padding: 0 1.25rem;
    }

    .description-e {
        grid-area: desc-e;
    }
    
    .description-e p {
        width: 285px;
        margin: 1rem auto;
        font-weight: 500;
        font-size: 1.2rem;
        line-height: 1.5;
    }
    
    .description-e p span {
        background-color: var(--primary-color);
        box-shadow: -10px 0px 0 7px #000000,
        10px 0px 0 7px #000000,
        0 0 0 7px #000000;
        box-decoration-break: clone;
    }

    .image__wrapper-e img {
        display: none;
    }
    
    .image__wrapper-e {
        grid-area: img-e;
        background: url("./images/img-8.webp");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        border: 1.43rem solid #ffffff45;
        border-radius: 1.25rem;
    }
    
    .divider-e {
        display: block;
    }

    .images__wrapper-f article {
        width: 450px;
    }

    .images__wrapper-f article img {
        width: 90%;
    }

    .container-footer {
        display: flex;
        flex-direction: row-reverse;
    }

    .links {
        width: 60%;
        border-right: 3px solid #ea2127;
    } 

}

@media (min-width: 1140px) {

    .container-b .title-b h1 {
        font-size: 3.125rem;
    }

}


/* animations */

@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translateY(-100rem) scale(0.3);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(50rem);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(-100rem);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}




   